{% load staticfiles %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="{% static 'img/wolf.ico' %}">

        <title>Caça Eventos</title>

        <!-- Bootstrap core CSS -->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="{% static 'css/jumbotron.css' %}" rel="stylesheet">
    </head>

    <body style="background-color:rgb(250, 250, 250)">
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                <a href="{% url 'core' %}"><img src="{% static "img/wolf2.png" %}" alt="Wolf" width="42" height="42"></a>
                <pre> </pre>
                <a class="navbar-brand" href="{% url 'core' %}">Caça Eventos</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                    {% if user.is_authenticated %}
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="{% url 'core' %}">Home
                                    <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="{% url 'eventos:lista_eventos' %}">Eventos
                                    <span class="sr-only">(current)</span></a>
                            </li>
                        </ul>
                        <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="text" placeholder="Buscar Eventos" aria-label="Search">
                        </form>
                        <p>&nbsp&nbsp</p>
                        <ul class="nav navbar-nav navbar-right">
                            <div class="btn-group">
                                <a href="{% url 'accounts:user_profile' %}">
                                    <button type="button" class="btn btn-default">{{ user.username|default:user.username }}</button>
                                </a>
                                <button type="button" class="btn btn-default dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="{% url 'accounts:change_password' %}">Alterar senha</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% url 'accounts:user_logout' %}">Sair</a>
                                </div>
                            </div>
                        </ul>
                    {% else %}
                        <ul class="navbar-nav mr-auto"></ul>
                        <ul class="nav navbar-nav navbar-right">
                            <div padding-right="30px" align="right">
                                <a href="{% url 'accounts:user_login' %}" class="btn btn-primary" role="button">Login</a>
                                <a href="{% url 'accounts:add_user' %}" class="btn btn-primary" role="button">Cadastrar-se</a>
                            </div>
                        </ul>
                    {% endif %}
                </div>
            </nav>
        </div>

        {% block index %}{% endblock index %}

        <div class="container">
            {% block body %}{% endblock body %}
        </div>

        <hr>
        <center>
            <p>&copy; Company 2017-2018</p>
        </center>

        <!-- Bootstrap core JavaScript ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script>
            window.jQuery || document.write('<script src="{% static "js/jquery-slim.min.js" %}"><\/script>')
        </script>
        <script src="{% static "js/popper.min.js" %}"></script>
        <script src="{% static "js/bootstrap.min.js" %}"></script>
    </body>
</html>